include agent_config.yaml
include .env.example

include README.md
include README_zh.md
include CHANGELOG.md

include LICENSE

recursive-include tests *.py
recursive-include locales *.json

exclude .gitignore
exclude .git/*
exclude __pycache__/*
exclude *.pyc
exclude *.pyo
